{%extends 'layouts/base.html' %}


{% block content %}

    <hr>
<div class="d-flex flex-column gap-3">
    {% for answer in answers %}

    {% include 'components/answer_item.html' %}

    {% endfor %}
</div>

    <hr>

    <form>
        <div class="form-floating">
            <textarea class="form-control mb-3" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" required></textarea>
            <label for="floatingTextarea2">Enter your answer here</label>
            <div class="row-3 gap-3">
                <button class="btn custom-btn" type="submit">Answer</button>
            </div>
        </div>
    </form>


{% include 'components/pagination.html' %}

{% endblock %}